body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/landing\ page\ -\ homem\ aranha\ 2\ -\ desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    }
    
    header span{
        font-size: 1.5vh; 
    }
    .container_texto{
        display: flex;
        justify-content: end;
        gap: 30px;
        color: white;
        z-index: 1;
        top: -30px;
        margin-right: 10%;
    }
    
    .indicador_pagina{
        z-index: 2;
        display: flex;
        align-items: center;
        margin-left: 64.5%;
        transform: rotate(90deg);
        background-color: #910D0C;
        height: 40px;
        width: 4px;
    }

    main{
        display: flex;
        justify-content: space-evenly;
        height: 70vh;
        width: auto;
        z-index: 2;
        background-color: blueviolet;
        margin-top: 10vh;
        position: relative;
    }

.container_right{
   background-color: burlywood;
   width: 400px;
   display: flex;
   flex-direction: column;
   gap: 40px;
}
   .logo{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 250px;
    background-color: blue ;
   }

   .resumo{
    margin-top: 20px;
    display: flex;
    height: 25vh;
    justify-content: center;
    text-align: center;
    background-color: aquamarine;
   }

.resumo h3{
    color: white;
    font-size: 20px;
    width: 370px;
}

.botao_vermelho{
    color: white;
    background-color: #910D0C; 
    border: solid white 3px;
    padding: 2vh 4.8vh;
    align-items: center;
}

.botao_transparente{
    color: white;
    background-color: black;
    border: solid #910D0C 3px;
    padding: 2vh 4.8vh;   
}

.container_left{
   background-color: rgb(244, 150, 26);
   width: 600px;
   display: flex;
   flex-direction: column;
   align-items: end;
}

.homens_aranhas{
    height: 500px;
    width: 500px; 
}

.container_absolut{
    background-color: chartreuse;
    width: 150px;
    height: 717px;
    position: absolute;
}