:root{
   --vermelho: #910D0C;
   --preto: black;
   --branco: white;
}

body{
   font-family: Inter, sans-serif;
   height: 100vh;
   display: flex;
   flex-direction: column;
   background-image: url(../img/landing\ page\ -\ homem\ aranha\ 2\ -\ desktop.png);
   background-repeat: no-repeat;:root{
      --vermelho: #910D0C;
      --preto: black;
      --branco: white;
   }
   
   body{
      font-family: Inter, sans-serif;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-image: url(../img/landing\ page\ -\ homem\ aranha\ 2\ -\ desktop.png);
      position: relative;
      background-repeat: no-repeat;
    }
       
   header{ 
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 10;
   }
       
   .container_texto a{
      text-decoration: none;
      color: var(--branco);
      font-size: 23px;s
   }
   
   .container_texto{
      display: flex;
      gap: 50px;
      position: relative;
      color: white;
      z-index: 11;
      margin-right: 60px;
      margin-top: 50px;
   }
       
   .indicador_pagina{
      position: absolute;
      background-color: var(--vermelho);
      height: 50px;
      width: 6px;
      z-index: 12;  
      transform: translateY(-50%);
      right: 630px;
   }
   
   main{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 70vh;
      width: 100%;
      z-index: 2;
      margin-top: 70px;
   }
   
   .container_right{
      max-width: 600px;
      height: 730px;
      display: flex;
      flex-direction: column;
      gap: 70px;
   }
   
   .logo{
      display: block; 
      margin-left: auto;
      margin-right: auto;
      height: 70px;
      width: 250px;
   }
   
   .resumo{
      display: flex;
      height: 400px;
      text-align:center;
   }
   
   .resumo h3{
      color: var(--branco);
      font-size: 25px;
      width: 450px;
   }
   
   .botao_vermelho, .botao_transparente{
      color: var(--branco);
      border: 3px solid;
      padding: 2vh 4.8vh;
      align-items: center;
      font-size: 20px;   
   }
   
   .botao_vermelho{
      background-color: var(--preto);
      border-color: var(--branco);
   }
   
   .botao_transparente{
      background-color: var(--preto);
      border-color: var(--vermelho);
   }
   
   
   .container_left{
      max-width: 700px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin-left: 10px;
   }
   
   .homens_aranhas{
      position: relative;
      height: auto;
      max-width: 900px; 
      object-fit: contain;
   }
   
   .container_absolute{
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      width: 10vw;
      height: 100%;
      z-index: 13;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 10vh;
   }
   
   .botao{
      display: flex;
      justify-content: center;
      gap: 40px;
      margin-top: 40px;
      height: 70px;
   }
   
   .rede_social{
   display: flex;
      flex-direction: column;
   }
   
   .circulo{
      display: flex;
      position: fixed;
      align-items: center;
      flex-direction: column;
      transform: translateY(-210%);
      right: 20px;
      gap: 5px;
   }
   .circulo_principal{
      background-color: white;
      border: 3px solid black;
      width: 50px;
      height: 50px;
      border-radius: 100%;
   }
   
   .circulo_secundario{
      background-color: black;
      border: 3px solid white;
      width: 40px;
      height: 40px;
      border-radius: 100%;
   }
   
   .menu_mobile{
      display: none;
   }
   
   @media (max-width:1024px){
   
   body {
      background-image: url(../img/landing\ page-ipad.png);
      height: 100vh;
   }
   
   header {
      justify-content: center;
      margin-top: 20px;
   }
   
   .container_texto{
      gap: 35px;
      margin: 35px 0 0;
   }
   
   .container_texto a {
      font-size: 18px;
   }
   
   .indicador_pagina {
      position: absolute;
      top: 0;
      left: 24%;
      height: 30px;
      width: 5px;
      background-color: var(--branco)
   }
   
   main {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 60px;
      gap: 30px;
   }
   
     
   .container_right {
      align-items: flex-end;
      justify-content: center;
      text-align: center;
      width: 100%;
      gap: 25px;
      margin-left: 100px;
   }
   
   
   .logo {
      width: 230px;
      margin-top: 100px;
   }
   
   .resumo, .resumo h3{
      display: none;
   }
      
   .container_left {
      justify-content: flex-start;
      width: 100%;
      left: -50px;
   }
   
   .homens_aranhas {
      width: 450px;
      top: 100px;
      transform: rotate(35deg);
   }
   
   .botao {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 25px;
      margin-top: 10px;
      flex-wrap: wrap;  /*faz com que o conteúdo quebre para a próxima linha */
      margin: 0 auto; 
   }
   
   .botao_vermelho,
   .botao_transparente {
      padding: 15px 35px;
      font-size: 18px;
   }
   
   .circulo {
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-top: 200px;
      position: absolute;
      z-index: 30;
      left: 50%;
      transform: translateX(-50%);
   }
   
   .circulo_principal {
      width: 40px;
      height: 40px;
      background-color:var(--branco);
      border: 3px solid var(--preto);
      border-radius: 50%;
   }
   
   .circulo_secundario {
      width: 25px;
      height: 25px;
      background-color: black;
      border: 3px solid white;
      border-radius: 50%;
   }
   
   .container_absolute {
      width: 12vw;
      gap: 28vh;
      background-color: rgba(0, 0, 0, 0.55);
   }
   
   .container_absolute img {
      width: 60%;
      height: auto;
   }
   
   .menu_mobile{
      display: none;
   }
   }
   
   @media (max-width: 667px) {
   body {
      background-image: url(../img/landing\ page-mobile.png);
      background-position: center;
      background-size: cover;
      height: 100vh;
   }
   
   .container_absolute {
      position: fixed;
      width: 55px;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.6);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
   }
   
   .container_absolute img {
      width: 30px;
   }
   
   .homens_aranhas {
      width: 360px; 
      transform: rotate(33deg);
      top: -2px;
   }
   
   .botao {
      gap: 15px;
      margin-top: 15px;
     }
   
   .botao_vermelho,
   .botao_transparente {
      padding: 10px 20px;
      font-size: 14px;
      border-width: 2px;
   }
   
   .circulo {
      position: relative;
      margin-top: 10px; 
      justify-content: center;
      gap: 10px;
      left: 10%;
      transform: translateX(-50%);
   }
   
   .circulo_principal {
      width: 20px;
      height: 20px;
      border: 2px solid var(--preto);
      background-color: var(--branco);
      border-radius: 50%;
     }
   
   .circulo_secundario {
      width: 15px;
      height: 15px;
      border: 2px solid var(--branco);
      background-color: var(--preto);
      border-radius: 50%;
     }
   
     .container_texto, .indicador_pagina{
      display: none;
     }
   
     .container_right{
      margin: 0;        
      transform: translateX(30px) translateY(-110px);
     }
   
   
   main{
      display: flex;
      justify-content: center; 
      align-items: center;      
     }
   
   .menu_mobile {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      right: 15px;
   }
   
   .menu_mobile img {
     width: 30px;
     height: auto;
   }
   }
   background-size: cover;
 }
    
header{ 
   width: 100%;
   display: flex;
   justify-content: flex-end;
   position: relative;
   z-index: 10;
}
    
.container_texto a{
   text-decoration: none;
   color: var(--branco);
   font-size: 23px;s
}

.container_texto{
   display: flex;
   gap: 50px;
   position: relative;
   color: white;
   z-index: 11;
   margin-right: 60px;
   margin-top: 50px;
}
    
.indicador_pagina{
   position: absolute;
   background-color: var(--vermelho);
   height: 50px;
   width: 6px;
   z-index: 12;  
   transform: translateY(-50%);
   right: 630px;
}

main{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 70vh;
   width: 100%;
   z-index: 2;
   margin-top: 70px;
}

.container_right{
   max-width: 600px;
   height: 730px;
   display: flex;
   flex-direction: column;
   gap: 70px;
}

.logo{
   display: block; 
   margin-left: auto;
   margin-right: auto;
   height: 70px;
   width: 250px;
}

.resumo{
   display: flex;
   height: 400px;
   text-align:center;
}

.resumo h3{
   color: var(--branco);
   font-size: 25px;
   width: 450px;
}

.botao_vermelho, .botao_transparente{
   color: var(--branco);
   border: 3px solid;
   padding: 2vh 4.8vh;
   align-items: center;
   font-size: 20px;   
}

.botao_vermelho{
   background-color: var(--preto);
   border-color: var(--branco);
}

.botao_transparente{
   background-color: var(--preto);
   border-color: var(--vermelho);
}


.container_left{
   max-width: 700px;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   margin-left: 10px;
}

.homens_aranhas{
   position: relative;
   height: auto;
   max-width: 900px; 
   object-fit: contain;
}

.container_absolute{
   background-color: rgba(0, 0, 0, 0.5);
   position: fixed;
   width: 10vw;
   height: 100%;
   z-index: 13;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   gap: 10vh;
}

.botao{
   display: flex;
   justify-content: center;
   gap: 40px;
   margin-top: 40px;
   height: 70px;
}

.rede_social{
display: flex;
   flex-direction: column;
}

.circulo{
   display: flex;
   position: fixed;
   align-items: center;
   flex-direction: column;
   transform: translateY(-210%);
   right: 20px;
   gap: 5px;
}
.circulo_principal{
   background-color: white;
   border: 3px solid black;
   width: 50px;
   height: 50px;
   border-radius: 100%;
}

.circulo_secundario{
   background-color: black;
   border: 3px solid white;
   width: 40px;
   height: 40px;
   border-radius: 100%;
}

.menu_mobile{
   display: none;
}

@media (max-width:1024px){

body {
   background-image: url(../img/landing\ page-ipad.png);
   height: 100vh;
}

header {
   justify-content: center;
   margin-top: 20px;
}

.container_texto{
   gap: 35px;
   margin: 35px 0 0;
}

.container_texto a {
   font-size: 18px;
}

.indicador_pagina {
   position: absolute;
   top: 0;
   left: 24%;
   height: 30px;
   width: 5px;
   background-color: var(--branco)
}

main {
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   margin-top: 60px;
   gap: 30px;
}

  
.container_right {
   align-items: flex-end;
   justify-content: center;
   text-align: center;
   width: 100%;
   gap: 25px;
   margin-left: 100px;
}


.logo {
   width: 230px;
   margin-top: 100px;
}

.resumo, .resumo h3{
   display: none;
}
   
.container_left {
   justify-content: flex-start;
   width: 100%;
   left: -50px;
}

.homens_aranhas {
   width: 450px;
   top: 100px;
   transform: rotate(35deg);
}

.botao {
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 25px;
   margin-top: 10px;
   flex-wrap: wrap;  /*faz com que o conteúdo quebre para a próxima linha */
   margin: 0 auto; 
}

.botao_vermelho,
.botao_transparente {
   padding: 15px 35px;
   font-size: 18px;
}

.circulo {
   justify-content: center;
   align-items: center;
   flex-direction: row;
   margin-top: 200px;
   position: absolute;
   z-index: 30;
   left: 50%;
   transform: translateX(-50%);
}

.circulo_principal {
   width: 40px;
   height: 40px;
   background-color:var(--branco);
   border: 3px solid var(--preto);
   border-radius: 50%;
}

.circulo_secundario {
   width: 25px;
   height: 25px;
   background-color: black;
   border: 3px solid white;
   border-radius: 50%;
}

.container_absolute {
   width: 12vw;
   gap: 28vh;
   background-color: rgba(0, 0, 0, 0.55);
}

.container_absolute img {
   width: 60%;
   height: auto;
}

.menu_mobile{
   display: none;
}
}

@media (max-width: 667px) {
body {
   background-image: url(../img/landing\ page-mobile.png);
   background-position: center;
   background-size: cover;
   height: 100vh;
}

.container_absolute {
   position: fixed;
   width: 55px;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.6);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 30px 0;
}

.container_absolute img {
   width: 30px;
}

.homens_aranhas {
   width: 360px; 
   transform: rotate(33deg);
   top: -2px;
}

.botao {
   gap: 15px;
   margin-top: 15px;
  }

.botao_vermelho,
.botao_transparente {
   padding: 10px 20px;
   font-size: 14px;
   border-width: 2px;
}

.circulo {
   position: relative;
   margin-top: 10px; 
   justify-content: center;
   gap: 10px;
   left: 10%;
   transform: translateX(-50%);
}

.circulo_principal {
   width: 20px;
   height: 20px;
   border: 2px solid var(--preto);
   background-color: var(--branco);
   border-radius: 50%;
  }

.circulo_secundario {
   width: 15px;
   height: 15px;
   border: 2px solid var(--branco);
   background-color: var(--preto);
   border-radius: 50%;
  }

  .container_texto, .indicador_pagina{
   display: none;
  }

  .container_right{
   margin: 0;        
   transform: translateX(30px) translateY(-110px);
  }


main{
   display: flex;
   justify-content: center; 
   align-items: center;      
  }

.menu_mobile {
   width: 100%;
   display: flex;
   justify-content: flex-end;
   position: relative;
   right: 15px;
}

.menu_mobile img {
  width: 30px;
  height: auto;
}
}