body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/landing\ page\ -\ homem\ aranha\ 2\ -\ desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    }
    
    header span{
        font-size: 20px; 
    }
    .container_texto{
        display: flex;
        justify-content: end;
        gap: 30px;
        color: white;
        font-size: 20px;
        z-index: 1;
        top: -30px;
        margin-right: 12%;
    }
    
    .indicador_pagina{
        z-index: 2;
        display: flex;
        align-items: center;
        margin-left: 70%;
        transform: rotate(90deg);
        background-color: #910D0C;
        height: 40px;
        width: 10px;
        top: -50%;

        
    }

   